{% extends 'base.html' %}

{% block title %}Замовлення успішно оформлено{% endblock %}

{% block content %}
    <div class="container mt-3">
        <h3>Спасибо за заказ!</h3>
        <p>Ваш заказ успешно оформлен. Наш менеджер свяжется с вами в ближайшее время.</p>
        <p class="text-muted">Номер вашего заказа: {{ order.id }}</p>
        
        <p class="text-muted">Сумма заказа: {{ total_price }} грн</p>
        
        <a href="{% url 'members:profile' user.username %}" class="btn btn-primary">Перейти в личный кабинет</a>
    </div>
{% endblock %}
