{% extends "base.html" %}

{% load static %}

{% block title %}Article{% endblock %}


{% block content %}



    <h1>Logo<img src="https://www.svgrepo.com/show/349342/docker.svg"  width="80" height="80"></h1>


    <h1>Всего опубликовано постов: {{post_count}} </h1>
    <div class="mt-3 rounded-3 bg-body-tertiary p-4">
        <h3>Блог</h3>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #4e4e4e; color: white; border-color: #4e4e4e;">
        Створити пост
    </button>

    </div>
    <div class="row g-4">
        {% for post in posts %}
            <div class="col-4">
                <a href="{% url 'blog:post' post.id %}" class="text-decoration-none text-white">
            
                    <div class="card">
                        <img src="{{post.image.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{post.title}}</h5>
                            <small class="text-muted">{{post.created_at}}</small>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between text-center">
                                <h5><span class="badge ">👀 {{post.views}}</span></h5>
                                <h5><span class="badge ">📝 {{post.comments}}</span></h5>
                                <h5><span class="badge ">👍 {{post.likes}}</span></h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Створити пост</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'blog:create' %}" method="post" enctype="multipart/form-data">

            <div class="modal-body">
                {% csrf_token %}
                {{ form }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Створити</button>
                
            </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}



  