
{% extends 'base.html' %}

{% block content %}
<title>{{ room }} - DjChat</title>
<link rel="stylesheet" href="styles.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</head>
<body>

<div class="container-fluid">
<h2 class="text-center text-light">{{ room }} - DjChat</h2>
</div>

<div class="container mt-3">
<div id="display" class="message-container"></div>

<form id="post-form" class="message-form mt-3">
    {% csrf_token %}
    <div class="avatar-container">
        <img src="{{ avatar_url }}" class="avatar" alt=" ">
    </div>
    <input type="hidden" name="username" id="username" value="{{ username }}"/>
    <input type="hidden" name="room_id" id="room_id" value="{{ room_details.id }}"/>
    <input type="text" name="message" id="message" placeholder="Type your message here" class="form-control" />
    <button type="submit" class="btn btn-success ml-2">Send</button>
</form>
</div>

<script>
$(document).ready(function(){
    setInterval(function(){
        $.ajax({
            type: 'GET',
            url : "/chat/getMessages/{{ room }}",  
            success: function(response){
                console.log(response);
                $("#display").empty();
                for (var key in response.messages)
                {
                    var date = new Date(response.messages[key].date);
                    var hours = date.getHours();
                    var minutes = date.getMinutes();
                    var time = hours + ":" + (minutes < 10 ? '0' : '') + minutes;
                    var temp="<div class='message'><div class='avatar-container'><img src='" + response.messages[key].avatar_url + "' class='avatar' alt=''></div><div class='message-content'><b>"+response.messages[key].user+"</b> <span class='time'>"+ time +"</span><p>"+response.messages[key].value+"</p></div></div>";
                    $("#display").append(temp);
                }
            },
            error: function(response){
                alert('An error occurred')
            }
        });
    }, 1000);

    $(document).on('submit','#post-form',function(e){
        e.preventDefault();

        $.ajax({
          type:'POST',
          url:'/chat/send',
          data:{
              username:$('#username').val(),
              room_id:$('#room_id').val(),
              message:$('#message').val(),
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          },
          success: function(data){
             //alert(data)
          },
          error: function(response){
              alert('An error occurred')
          }
        });
        document.getElementById('message').value = '';
    });

});
</script>

{% endblock %}

</body>
</html>
